.info-alert {
    position: absolute;
    border: 2px solid rgb(235, 235, 235)!important;
    background-color: white;
    border-radius   : 14px;
    border-top-right-radius: 0;
    top: -30px;
    left: -20px;
    margin: 10px;
    box-shadow: 2px 2px 2px  #dadada;
}

.info-li{
    color: #444444;
    h6 {
        font-size: 0.9rem;
        width: 280px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }
    p {
        color: #777777;
        font-size: 0.8rem;
    }

}
li.info-li:hover {
    background-color: rgb(194, 194, 194);
    list-style-position: outside;
}