
#singlepost {
    padding: 15px 15px 5px 15px;
    margin: 0%;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    border: solid 1px rgba(133, 131, 131, 0.287);
}

#singlepost .container {
    padding: 0px;
    margin: 0%;
}

#singlepost .row {
    padding: 15px 30px;
}

#singlepost .row:first-child div:first-child {
    width: 67px;
}
#singlepost .row:first-child img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

#singlepost .row:first-child h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
}
#singlepost .row:first-child p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
}

#singlepost .row:nth-child(2) {
    border-bottom: solid 1px rgba(128, 128, 128, 0.308);
}

#singlepost .row:last-child div {
   margin-right: 10px;
}

#singlepost .row:last-child div>div {
    display: flex;
    align-items: center;
    max-width: 90px;
    justify-content: space-between;
}

#singlepost .row:last-child div>div span:first-child {
    width: 35px;
}

#singlepost .row:last-child div svg {
    width: 27px;
    height: 27px;
}
#singlepost .row:last-child div h6 {
    margin: 0px;
}